---
import MainLayout from '../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
const sortedPosts = posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<MainLayout title="Blog">
	<section class="blog">
		<h1>Blog</h1>
		<div class="posts">
			{sortedPosts.map((post) => (
				<article class="post">
					<time>{post.data.pubDate.toISOString().split('T')[0]}</time>
					<h2>{post.data.title}</h2>
					<p>{post.data.description}</p>
					<a href={`/blog/${post.slug}`}>Read more ></a>
				</article>
			))}
		</div>
	</section>

	<style>
		.posts {
			display: grid;
			gap: 2rem;
			margin-top: 2rem;
		}

		.post {
			border: 1px solid var(--text-color);
			padding: 1.5rem;
		}

		time {
			opacity: 0.8;
			font-size: 0.9em;
		}
	</style>
</MainLayout>
