---
const { title } = Astro.props;
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Yeshilabs</title>
	</head>
	<body>
		<header>
			<nav>
				<a href="/" class="logo">YESHILABS</a>
				<button class="menu-toggle" aria-label="Toggle navigation">
					☰
				</button>
				<div class="nav-links">
					<a href="/research">Research</a>
					<a href="/about">About</a>
					<a href="/blog">Blog</a>
					<a href="/contact">Contact</a>
				</div>
				<div class="theme-switch-wrapper">
					<input type="checkbox" id="theme-toggle" class="theme-toggle" aria-label="Toggle theme" />
					<label for="theme-toggle" class="theme-switch"></label>
				</div>
			</nav>
		</header>

		<main class="content">
			<slot />
		</main>

		<script>
			document.addEventListener('DOMContentLoaded', () => {
				const menuToggle = document.querySelector('.menu-toggle');
				const navLinks = document.querySelector('.nav-links');
				const themeToggle = document.getElementById('theme-toggle');
				const htmlElement = document.documentElement;

				// Check for stored theme preference
				let currentTheme = localStorage.getItem('theme');

				// If no stored preference, use system preference
				if (!currentTheme) {
					currentTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
				}

				// Set the initial theme
				htmlElement.setAttribute('data-theme', currentTheme);
				themeToggle.checked = currentTheme === 'dark';
				console.log(`Initial theme set to: ${currentTheme}`); // Debugging line

				menuToggle.addEventListener('click', () => {
					navLinks.classList.toggle('active');
				});

				themeToggle.addEventListener('change', () => {
					const newTheme = themeToggle.checked ? 'dark' : 'light';
					htmlElement.setAttribute('data-theme', newTheme);
					localStorage.setItem('theme', newTheme);
					console.log(`Theme switched to: ${newTheme}`); // Debugging line
				});
			});
		</script>
	</body>
</html> 